.main__container-cart {
  margin: 0 3.125rem;
  height: 140vh;
  display: grid;
  grid-template-rows: 1/2fr 1fr;
  grid-template-columns: 1fr;

  .cart__label {
    height: 2rem;
  }
  .cart__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 500px 100px;
    align-items: center;
    grid-area: "cartItem";

    .item__name {
      color: #2C494D;
      font-family: Helvetica, sans-serif;
      font-size: 18px;
      display: grid;
      justify-content: center;
    }
    .item__price {
      display: grid;
      justify-content: center;
      color: #2C494D;
      font-family: Helvetica, sans-serif;
    }
    .item__image {
      height: auto;
      width: 50%;
    }
    .item__quantity {
      display: flex;
      justify-content: center;

      button {
        background-color: #1F7A8F;
        color: white;
        padding: 10px 25px 10px 25px;
        border-radius: 5px;
        cursor: pointer;
      }

      h3 {
        display: flex;
        align-items: center;
        margin: 0 2rem;
      }
    }
  }

//checkout button
  .cart__checkout {
    background-color: #1F7A8F;
    color: white;
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 2rem 0;
  }
}