.main__container {
  margin: 0 3.125rem;
  height: 120vh;
  display: grid;
  grid-template-rows: 1/4fr 4fr;
  grid-template-columns: 1fr;
  // grid-template-areas: "
  // cartLabel,
  // cartItem,
  // cartTotal
  // "
  // ;

  .cart__label {
    // grid-area: "cartLabel";
    height: 2rem;
  }

  .cart__total {
    // grid-area: "cartTotal";
  }
  .cart__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 10px 500px 10px 100px;
    // justify-content: center;
    align-items: center;
    grid-area: "cartItem";

    .item__name {
      color: #2C494D;
      font-family: Helvetica, sans-serif;
      font-size: 18px;
      display: grid;
      justify-content: center;
    }
    .item__price {
      display: grid;
      justify-content: center;
    }
    .item__quantity {
      display: grid;
      justify-content: center;
    }
  }
//checkout button
  .cart__checkout {
    background-color: #1F7A8F;
    color: white;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin: 2rem 0;
  }
}