.footer-container {
  display: grid;
  // grid-template-columns: auto auto auto;
  grid-template-areas: 
  "ftl fr1"
  "sm sm";
  // grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  //uncomment
  // grid-template-columns: repeat(7, 1fr);
  // grid-template-rows: repeat(7, 1fr);

  // grid-auto-rows: 100px; 
}

.footer-right-group {
  // grid-column: 5/8;
  // grid-row: 2/5;
  display: grid;
  grid-template-areas: "lf md rt";
  grid-template-columns: 1fr 1fr 1fr;
  //uncomment above
  // position: relative;
  // flex-wrap: wrap;
  // flex-direction: column;

  .footer-right-1 {
    grid-area: lf;
    // margin-right: 200px;
  }
  .footer-right-2 {
    grid-area: md;
    // width: 400px;
  }
  .footer-right-3 {
    grid-area: rt;
    // width: 300px;
  }
  
  .footer__clickables-1 {
    display: flex;
    flex-direction: column;
  }
  .footer__clickables-2 {
    display: flex;
    flex-direction: column;
  }
  .footer__clickables-3 {
    display: flex;
    flex-direction: column;
  }

  a {
    // background: red;
    width: 10rem;
  }
  // --------------------------- Get the clickable links to stacks ----------------------------
  // .footer__clickables {
  //   display: flex;
  //   flex-direction: column;
  //   //uncomment above

  //   // flex-wrap: wrap;
  // }
}

.footer-left {
  grid-area: ftl;
  //uncomment
  // grid-column: 2/5;
  // grid-row: 2/5;
}

.social-media {
  grid-area: sm;
  //uncomment below
  // grid-column: 3/5;
  // grid-row: 6/7;
  display: flex;
  justify-content: space-evenly;
}