@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.footer-container {
  background-color: #2C494D;
  display: grid;
  grid-template-areas:
  "ftl fr1"
  "sm sm";
  grid-template-columns: 1fr 1fr;
  padding-top: 5%;

  p, a {
    color: white;
  }
  a {
    text-decoration: none;
    font-size: 13px;
    font-family: Lato, sans-serif;
    margin: 10px 0;
  }
  p {
    font-size: 14px;
    font-weight: bold;
  }
}

.footer-right-group {
  display: grid;
  grid-template-areas: "lf md rt";
  grid-template-columns: 1fr 1fr 1fr;

  .footer-right-1 {
    grid-area: lf;
  }
  .footer-right-2 {
    grid-area: md;
  }
  .footer-right-3 {
    grid-area: rt;
  }
  .footer__clickables-1 {
    display: flex;
    flex-direction: column;
  }
  .footer__clickables-2 {
    display: flex;
    flex-direction: column;
  }
  .footer__clickables-3 {
    display: flex;
    flex-direction: column;
  }
  a {
    width: 10rem;
  }
}

.footer-left {
  grid-area: ftl;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 200px;
    outline: none;
    border-radius: 3px;
  }
  p {
    margin: 15px 0;
    font-size: 14px;
    font-family: Lato, sans-serif;
  }
  p:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
  }
}

.social-media {
  grid-area: sm;
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0 5rem 0;
}