.item-card__name {
  text-decoration: none;
  color: #46555F;
  font-size: 18px;
  font-family: Helvetica;
}

.item-card__price {
  text-decoration: none;
  color: #46555F;
  font-size: 18px;
  font-family: Helvetica;
}