.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  // border-bottom: black 1px solid;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  // border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  
  img {
    width: 50px;
  }

  svg {
    width: 20px;
  }

  p {
    margin: 0;
  }
}

.carousel__category {
  display: flex;
  justify-content: flex-end;
  padding-right: 11%;
  padding-left: 11%;
  margin-top: 5rem;
  
  div {
    margin-right: auto;
  }
}